<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mealmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealManager">
        <activity
            android:name=".paymentConfirmation"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".mealHistoryView" />
        <activity android:name=".mealHistory" />
        <activity android:name=".borderListForMeal" />
        <activity android:name=".todayMeal" />
        <activity android:name=".BorderList" />
        <activity android:name=".mealRequestList" />
        <activity android:name=".mealViewForOthers" />
        <activity android:name=".profileViewForOthers" />
        <activity android:name=".myMeal" />
        <activity android:name=".searchMeal" />
        <activity android:name=".createMeal" />
        <activity android:name=".startMeal" />
        <activity android:name=".searchUsers" />
        <activity android:name=".createAccount" />
        <activity android:name=".statistics" />
        <activity android:name=".profile" />
        <activity android:name=".data_entry" />
        <activity android:name=".payment" />
        <activity android:name=".account_settings" />
        <activity android:name=".log_in_activity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>